body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: black;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, footer {
    background-color: #f02c92;
    color: white;
}

header {
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid white;
    margin-bottom: 10px;
}

.profile-text {
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0;
    font-size: 1.2em;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px #f02c92;
    flex-grow: 1;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.portfolio-item {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    flex-shrink: 0;
}
